# .gitignore

# init files/folders
.Rhistory
.Rproj.user
psi1.Rproj

################## single_nucleus

# track folder structure but ignore contents
single_nucleus/counts/*
!single_nucleus/counts/.gitkeep
single_nucleus/results/*
!single_nucleus/results/.gitkeep
single_nucleus/rObjects/*
!single_nucleus/rObjects/.gitkeep
single_nucleus/refs/configs/*
!single_nucleus/refs/configs/.gitkeep

# files I don't want in git repo
single_nucleus/refs/.env
single_nucleus/refs/bulk_metadata.tsv
single_nucleus/refs/file_list.tsv
single_nucleus/refs/idx.annoy
single_nucleus/refs/ref.Rds
single_nucleus/refs/umap_params.csv
single_nucleus/scripts/00*
single_nucleus/scripts/*/logs/*
single_nucleus/scripts/*/old

################## bulk_gene

# init folders
bulk_gene/.snakemake

# track folder structure but ignore contents
bulk_gene/featureCounts/*
!bulk_gene/featureCounts/.gitkeep
bulk_gene/rawReads/*
!bulk_gene/rawReads/.gitkeep
bulk_gene/rawQC/*
!bulk_gene/rawQC/.gitkeep
bulk_gene/results/*
!bulk_gene/results/.gitkeep
bulk_gene/rObjects/*
!bulk_gene/rObjects/.gitkeep
bulk_gene/starAligned/*
!bulk_gene/starAligned/.gitkeep
bulk_gene/trimmedQC/*
!bulk_gene/trimmedQC/.gitkeep
bulk_gene/trimmedReads/*
!bulk_gene/trimmedReads/.gitkeep

# temp files
bulk_gene/backup_featureCounts
bulk_gene/IGV

# files I want but don't want in git repo
bulk_gene/refs/original_fastq_names.txt
bulk_gene/refs/starGenomeDir
bulk_gene/refs/transcript_quant
bulk_gene/refs/.env
bulk_gene/refs/joe_meta.csv
bulk_gene/scripts/00*
bulk_gene/scripts/logs
bulk_gene/scripts/13_shiny_app/
bulk_gene/scripts/backup_shiny_app

################## bulk_isoform

# init folders
bulk_isoform/.snakemake

# track folder structure but ignore contents
bulk_isoform/kallisto/*
!bulk_isoform/kallisto/.gitkeep
bulk_isoform/rawReads/*
!bulk_isoform/rawReads/.gitkeep
bulk_isoform/rawQC/*
!bulk_isoform/rawQC/.gitkeep
bulk_isoform/trimmedQC/*
!bulk_isoform/trimmedQC/.gitkeep
bulk_isoform/trimmedReads/*
!bulk_isoform/trimmedReads/.gitkeep

# files I want but don't want in git repo
bulk_isoform/refs/.env
bulk_isoform/refs/kallisto.idx
bulk_isoform/refs/transcripts.fa
bulk_isoform/rObjects
bulk_isoform/scripts/logs
bulk_isoform/scripts/old

