.Rproj.user
.Rhistory
.RData
.Ruserdata
psilocybin.Rproj
scripts/*/logs/*
rawReads/*
refs/transcript_quant/*
rawQC/*
trimmedQC/*
trimmedReads/*
featureCounts/*
starAligned/*
.snakemake
refs/starGenomeDir
results/*
rObjects/*
scripts/04_shiny/counts
scripts/04_shiny/DEGs
scripts/04_shiny/input_options.tsv
scripts/04_shiny/prep
scripts/04_shiny/rsconnect